<ul class="list-group hover">
  <li class="list-group-item">

  <p>
    <span class="glyphicon glyphicon-info-sign">click any row to update/delete</span>
  </p>

    <table class="table table-striped table-responsive">
      <tr>
        <!-- <th>Key</th> -->
        <th>Name</th>
        <th>Pisition</th>
        <th>Email</th>
        <th>Office</th>
        <th>Salary ($)</th>
      </tr>

      <!-- dari employeelist: Employee[]; -->
      <tr *ngFor="let employee of employeelist" (click)="onItemClick(employee);" data-toggle="modal" data-target="#myModal" title="click to update/delete this row">
        <!-- <td>{{employee.$key}}</td> -->
        <td>{{employee.name}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.office}}</td>
        <td>{{employee.salary}}</td>
      </tr> 
    </table> 
  </li>
</ul>