  <div style="text-align:center" class="container">
    <h3 class="alert alert-success">Employee Register</h3>
  </div>

  <div align="center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">ADD</button>
  </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
              <app-employee></app-employee>
          </div>
        </div>
      </div>
    </div>


  <app-employee-list></app-employee-list>
